In [1]:
#Importing all necessary Libraries
import selenium
import pandas as pd
import numpy as np
from selenium import webdriver
from bs4 import BeautifulSoup
import requests
import time
from selenium.common.exceptions import NoSuchElementException,ElementNotInteractableException,ElementNotVisibleException
import re
import warnings
warnings.filterwarnings('ignore')

In [2]:
from selenium.webdriver.chrome.service import Service

In [3]:
s = Service("chromedriver.exe")

### Scraping data from Yatra.com

In [5]:
url =  'https://www.yatra.com/'
driver = webdriver.Chrome("chromedriver.exe")
driver.maximize_window() 
driver.get(url) #accessing the url on web driver
i=0
while(i<10):
   driver.execute_script("window.scrollBy(0,100)") # scroll down to get access to data for scraping
   i+=1

In [6]:
flturl =[] #creating an empty list which would contain all the scraped url

In [11]:
#Scraping all the necessary url data from which to scrape the required air fare data
flturl_tag = driver.find_elements_by_xpath("//a[@class='VueCarousel-slide items']")

for u in flturl_tag:
     try: 
        flturl.append(u.get_attribute("href"))
     except:
        flturl.append('-')
        
locbtn1 = driver.find_element_by_xpath('/html/body/div[2]/div/section/div[2]/div[2]/ul/li[2]')
locbtn1.click()
    
for u in flturl_tag:
     try: 
         flturl.append(u.get_attribute("href"))
     except:
        flturl.append('-')
time.sleep(1)
    
locbtn2 = driver.find_element_by_xpath('/html/body/div[2]/div/section/div[2]/div[2]/ul/li[3]')
locbtn2.click()
    
for u in flturl_tag:
     try: 
         flturl.append(u.get_attribute("href"))
     except:
        flturl.append('-')
time.sleep(1)
    
locbtn3 = driver.find_element_by_xpath('/html/body/div[2]/div/section/div[2]/div[2]/ul/li[4]')
locbtn3.click()
    
for u in flturl_tag:
     try: 
         flturl.append(u.get_attribute("href"))
     except:
        flturl.append('-')
time.sleep(1)
    
locbtn4 = driver.find_element_by_xpath('/html/body/div[2]/div/section/div[2]/div[2]/ul/li[5]')
locbtn4.click()
    
for u in flturl_tag:
     try: 
         flturl.append(u.get_attribute("href"))
     except:
        flturl.append('-')
time.sleep(1)
    
locbtn5 = driver.find_element_by_xpath('/html/body/div[2]/div/section/div[2]/div[2]/ul/li[6]')
locbtn5.click()
    
for u in flturl_tag:
     try: 
         flturl.append(u.get_attribute("href"))
     except:
        flturl.append('-')
time.sleep(1)

In [12]:
len(flturl)

120

In [13]:
flturl = [ x for x in flturl if "https://www.yatra.com/international-flights/" not in x ] #removing foreign flight links

In [14]:
len(flturl) #the list contains all important url data for web scraping

60

In [15]:
airline = [] #empty list to contain all the scraped airline names
fltnum= []  #empty list to contain all the scraped airline flight numbers
src= [] #empty list to contain all the scraped airline flight route data
deptdate = [] #empty list to contain all the scraped airline flight departure dates
stops= [] #empty list to contain all the scraped airline flight total stops
duration= []  #empty list to contain all the scraped airline flight duration
price= [] #empty list to contain all the scraped airline flight ticket price
n = [] #empty list to contain all the scraped url data for return flights

In [17]:
for l in flturl:
    driver.get(l) #loading the url on web driver
    time.sleep(4) # giving the webpage 4 seconds to load
    ltag= driver.find_elements_by_xpath("/html/body/div[3]/div[2]/div[3]/div[1]/div[1]/article/div[2]/strong[5]/a")
    for u in ltag:
        try: 
         n.append(u.get_attribute("href")) 
        except:
         n.append('-') #finds all url elements of return flights and appends them to the empty list
    try:
        airlinetag = driver.find_elements_by_xpath("//span[@class='i-b text ellipsis']")
        for i in airlinetag:
            airline.append(i.text) #finds all airline name elements and appends them to airline list
    except:
        airline.append('-')
        
    try:
        fltnumtag = driver.find_elements_by_xpath("//p[@class ='normal fs-11 font-lightestgrey no-wrap fl-no']/span")
        for i in fltnumtag: 
          fltnum.append(i.text) #finds all airline flightnumber elements and appends them to flightnumber list
    except:
        fltnum.append('-')   
    try:
        srctag = driver.find_elements_by_xpath("//p[@class ='fs-10 font-lightgrey no-wrap city ellipsis']")
        for i in srctag:
            src.append(i.text) #finds all airline route elements and appends them to src list
    except:
        src.append('-')
        
    try:
        stopstag = driver.find_elements_by_xpath("//span[@class='dotted-borderbtm' or @class='cursor-default']")
        for i in stopstag:
            stops.append(i.text) #finds all airline flight total stops elements and appends them to stops list
    except:
        stops.append('-')
    try:
        durationtag = driver.find_elements_by_xpath("//p[@class ='fs-12 bold du mb-2']")
        for i in durationtag:
            duration.append(i.text) #finds all airline flight duration elements and appends them to duration list
    except:
        duration.append('-')
    
    try:
        pricetag = driver.find_elements_by_xpath("//div[@class ='i-b tipsy fare-summary-tooltip fs-18']")
        for i in pricetag:
            price.append(i.text) #finds all airline flight ticket price elements and appends them to price list
    except:
        price.append('-')
      
    try:
        deptdatetag = driver.find_element_by_xpath("//span[@class ='lowestDate']")
        for i in range(0,10):
            deptdate.append(deptdatetag.text) 
    except:
        deptdate.append('-')

In [18]:
#Extracting Air Fare Data from URL webpages of return flights, program functions exactly same as above

for l in n:
    driver.get(l)
    time.sleep(4)
    
    try:
        airlinetag = driver.find_elements_by_xpath("//span[@class='i-b text ellipsis']")
        for i in airlinetag:
            airline.append(i.text)
    except:
        airline.append('-')
        
    try:
        fltnumtag = driver.find_elements_by_xpath("//p[@class ='normal fs-11 font-lightestgrey no-wrap fl-no']/span")
        for i in fltnumtag:
          fltnum.append(i.text)
    except:
        fltnum.append('-')   
    try:
        srctag = driver.find_elements_by_xpath("//p[@class ='fs-10 font-lightgrey no-wrap city ellipsis']")
        for i in srctag:
            src.append(i.text)
    except:
        src.append('-')
        
    try:
        stopstag = driver.find_elements_by_xpath("//span[@class='dotted-borderbtm' or @class='cursor-default']")
        for i in stopstag:
            stops.append(i.text)
    except:
        stops.append('-')
    try:
        durationtag = driver.find_elements_by_xpath("//p[@class ='fs-12 bold du mb-2']")
        for i in durationtag:
            duration.append(i.text)
    except:
        duration.append('-')
    
    try:
        pricetag = driver.find_elements_by_xpath("//div[@class ='i-b tipsy fare-summary-tooltip fs-18']")
        for i in pricetag:
            price.append(i.text)
    except:
        price.append('-')
      
    try:
        deptdatetag = driver.find_element_by_xpath("//span[@class ='lowestDate']")
        for i in range(0,10):
            deptdate.append(deptdatetag.text)
    except:
        deptdate.append('-')

In [19]:
dest=[] #empty list to contain destination location data
source=[]   #empty list to contain source location data
for i in range(0,len(src),2):  
    source.append(src[i])
for i in range(1,len(src),2):
    dest.append(src[i]) #splits the data elements in src list into source and destination data elements and appends them to source and destination lists respectively

In [21]:
print(len(airline),len(fltnum),len(deptdate),len(source),len(dest),len(duration),len(stops),len(price))

1170 1170 1200 1170 1170 1170 1170 1170

In [22]:
#Creating FlightDF Data Frame with the scraped data
FlightDF= pd.DataFrame({'Airline':airline,'Flight Number':fltnum,'Date of Departure':deptdate[0:1170],'From':source,'To':dest,'Duration':duration,'Total Stops':stops,'Price':price})

In [23]:
FlightDF

,Airline,Flight Number,Date of Departure,From,To,Duration,Total Stops,Price
0,Air Asia,I5-764,"Fri, Feb 11",New Delhi,Mumbai,2h 10m,Non Stop,"2,395"
1,Air Asia,I5-482,"Fri, Feb 11",New Delhi,Mumbai,2h 15m,Non Stop,"2,395"
2,SpiceJet,SG-8701,"Fri, Feb 11",New Delhi,Mumbai,2h 15m,Non Stop,"2,407"
3,SpiceJet,SG-8157,"Fri, Feb 11",New Delhi,Mumbai,2h 20m,Non Stop,"2,407"
4,Vistara,UK-927,"Fri, Feb 11",New Delhi,Mumbai,2h 05m,Non Stop,"2,410"
...,...,...,...,...,...,...,...,...
1165,IndiGo,6E-212,"Thu, Mar 10",Bagdogra,Kolkata,1h 10m,Non Stop,"4,084"
1166,IndiGo,6E-6786,"Thu, Mar 10",Bagdogra,Kolkata,1h 15m,Non Stop,"4,084"
1167,Vistara,UK-766/747,"Thu, Mar 10",Bagdogra,Kolkata,16h 05m,1 Stop,"7,676"
1168,Vistara,UK-766/705,"Thu, Mar 10",Bagdogra,Kolkata,17h 05m,1 Stop,"7,676"
1169,Vistara,UK-726/747,"Thu, Mar 10",Bagdogra,Kolkata,18h 25m,1 Stop,"7,676"

In [24]:
FlightDF.to_csv('FlightDatascrape.csv') # Saving as .csv file

### Scraping Data from EaseMyTrip

In [47]:
url =  'https://www.easemytrip.com/?utm_source=google&utm_medium=cpc&utm_campaign=14425253924&utm_content=128139253602&utm_term=easemytrip&utm_campaign=14425253924&utm_source=g_c&utm_medium=cpc&utm_term=e_easemytrip&adgroupid=128139253602&gclid=CjwKCAiAqIKNBhAIEiwAu_ZLDlT5YOtVqr_cBvopvRV97poc_Qf54b5aTshxY-ho9drT4c4ICLdOLBoC8YcQAvD_BwE'
driver = webdriver.Chrome('chromedriver.exe')
driver.maximize_window() 
driver.get(url) #accessing the url on web driver

In [48]:
#Storing the required urls for web scraping in a list
n = ['https://flight.easemytrip.com/FlightList/Index?org=DEL-Delhi,%20India%20,&dept=BOM-Mumbai,%20India%20,&adt=1&chd=0&inf=0&cabin=0&airline=Any&deptDT=01/02/2022&arrDT=&isOneway=true&isDomestic=true&CouponCode=&lang=&ompAff=&bc=&ISWL=','https://flight.easemytrip.com/FlightList/Index?org=BOM-Mumbai,%20India%20,&dept=DEL-Delhi,%20India%20,&adt=1&chd=0&inf=0&cabin=0&airline=Any&deptDT=29/01/2022&arrDT=&isOneway=true&isDomestic=true&CouponCode=&lang=&ompAff=&bc=&ISWL=','https://flight.easemytrip.com/FlightList/Index?org=DEL-Delhi,%20India%20,&dept=GOI-Goa,%20India%20,&adt=1&chd=0&inf=0&cabin=0&airline=Any&deptDT=30/01/2022&arrDT=&isOneway=true&isDomestic=true&CouponCode=&lang=&ompAff=&bc=&ISWL=','https://flight.easemytrip.com/FlightList/Index?org=DEL-Delhi,%20India%20,&dept=BLR-Bangalore,%20India%20,&adt=1&chd=0&inf=0&cabin=0&airline=Any&deptDT=01/02/2022&arrDT=&isOneway=true&isDomestic=true&CouponCode=&lang=&ompAff=&bc=&ISWL=','https://flight.easemytrip.com/FlightList/Index?org=BOM-Mumbai,%20India%20,&dept=GOI-Goa,%20India%20,&adt=1&chd=0&inf=0&cabin=0&airline=Any&deptDT=02/02/2022&arrDT=&isOneway=true&isDomestic=true&CouponCode=&lang=&ompAff=&bc=&ISWL=','https://flight.easemytrip.com/FlightList/Index?org=DEL-Delhi,%20India%20,&dept=PAT-Patna,%20India%20,&adt=1&chd=0&inf=0&cabin=0&airline=Any&deptDT=01/02/2022&arrDT=&isOneway=true&isDomestic=true&CouponCode=&lang=&ompAff=&bc=&ISWL=','https://flight.easemytrip.com/FlightList/Index?org=DEL-Delhi,%20India%20,&dept=CCU-Kolkata,%20India%20,&adt=1&chd=0&inf=0&cabin=0&airline=Any&deptDT=02/02/2022&arrDT=&isOneway=true&isDomestic=true&CouponCode=&lang=&ompAff=&bc=&ISWL=','https://flight.easemytrip.com/FlightList/Index?org=DEL-Delhi,%20India%20,&dept=PNQ-Pune,%20India%20,&adt=1&chd=0&inf=0&cabin=0&airline=Any&deptDT=05/02/2022&arrDT=&isOneway=true&isDomestic=true&CouponCode=&lang=&ompAff=&bc=&ISWL=','https://flight.easemytrip.com/FlightList/Index?org=CCU-Kolkata,%20India%20,&dept=DEL-Delhi,%20India%20,&adt=1&chd=0&inf=0&cabin=0&airline=Any&deptDT=06/02/2022&arrDT=&isOneway=true&isDomestic=true&CouponCode=&lang=&ompAff=&bc=&ISWL=','https://flight.easemytrip.com/FlightList/Index?org=BOM-Mumbai,%20India%20,&dept=BLR-Bangalore,%20India%20,&adt=1&chd=0&inf=0&cabin=0&airline=Any&deptDT=03/02/2022&arrDT=&isOneway=true&isDomestic=true&CouponCode=&lang=&ompAff=&bc=&ISWL=']

In [49]:
airline = [] #empty list to contain all the scraped airline names
fltnum= []  #empty list to contain all the scraped airline flight numbers
src= [] #empty list to contain all the scraped airline flight route data
deptdate = [] #empty list to contain all the scraped airline flight departure dates
stops= [] #empty list to contain all the scraped airline flight total stops
duration= [] #empty list to contain all the scraped airline flight duration
price= [] #empty list to contain all the scraped airline flight ticket price

In [50]:

for l in n:
    driver.get(l)#loading the url on web driver
    time.sleep(4) # giving the webpage 4 seconds to load
    
    try:
        airlinetag = driver.find_elements_by_xpath("//span[@class='txt-r4 ng-binding']")
        for i in airlinetag:
            airline.append(i.text)#finds all airline name elements and appends them to airline list
            
    except:
        airline.append('-')
        al.append('-')
    try:
        fltnumtag = driver.find_elements_by_xpath("//span[@class ='txt-r5']")
        for i in fltnumtag:   #finds all airline flightnumber elements and appends them to flightnumber list
          fltnum.append(i.text)
    except:
        fltnum.append('-')   
    try:
        srctag = driver.find_elements_by_xpath("//span[@class ='txt-r3-n ng-binding']")
        for i in srctag:
            src.append(i.text) #finds all airline route elements and appends them to src list
    except:
        src.append('-')
        
    try:
        stopstag = driver.find_elements_by_xpath("//span[@class='dura_md2 ng-scope']")
        for i in stopstag:
            stops.append(i.text) #finds all airline flight total stops elements and appends them to stops list
    except:
        stops.append('-')
    try:
        durationtag = driver.find_elements_by_xpath("//span[@class ='dura_md ng-binding']")
        for i in durationtag:
            duration.append(i.text) #finds all airline flight duration elements and appends them to duration list
    except:
        duration.append('-')
    
    try:
        pricetag = driver.find_elements_by_xpath("//div[@class ='col-md-8 col-sm-8 col-xs-9 txt-r6-n ng-binding']")
        for i in pricetag:
            price.append(i.text) #finds all airline flight ticket price elements and appends them to price list
    except:
        price.append('-')

In [51]:
for l in n:
    driver.get(l)
    time.sleep(4)
    al=[] # an empty list to append airline names to be used later for scraping Date data
    try:
        airlinetag = driver.find_elements_by_xpath("//span[@class='txt-r4 ng-binding']")
        for i in airlinetag:
            al.append(i.text)#finds all airline name elements and appends them to al list
            
    except:
        
        al.append('-')
    try:
        deptdatetag = driver.find_element_by_xpath("//*[@id='jssor_1']/div/div/div/div/div[2]/div[6]/div[1]/div[1]/div[1]")
        for i in range(0,len(al)):
            deptdate.append(deptdatetag.text) 
    except:
        deptdate.append('-')

In [52]:
Price = list(filter(None, price))#removing blank elements from list

In [53]:
dest=[] #empty list to contain destination location data
source=[]#empty list to contain source location data
for i in range(0,len(src),2):
    source.append(src[i])
for i in range(1,len(src),2):
    dest.append(src[i])

In [54]:
print(len(airline),len(fltnum),len(deptdate),len(source),len(dest),len(duration),len(stops),len(price))

1233 1233 1233 1233 1233 1233 1233 2027

In [55]:
#Creating FlightDF Data Frame with the scraped data
FlightDF2= pd.DataFrame({'Airline':airline,'Flight Number':fltnum,'Date of Departure':deptdate,'From':source,'To':dest,'Duration':duration,'Total Stops':stops,'Price':Price[0:1233]})

In [56]:
FlightDF2

,Airline,Flight Number,Date of Departure,From,To,Duration,Total Stops,Price
0,SpiceJet,SG-8157,Feb 01,Delhi,Mumbai,02h 20m,non-stop,"5,955"
1,GO FIRST,G8-7533,Feb 01,Delhi,Mumbai,02h 05m,non-stop,"5,954"
2,GO FIRST,G8-7534,Feb 01,Delhi,Mumbai,02h 05m,non-stop,"5,954"
3,GO FIRST,G8-7535,Feb 01,Delhi,Mumbai,02h 05m,non-stop,"5,954"
4,GO FIRST,G8- 530,Feb 01,Delhi,Mumbai,02h 10m,non-stop,"5,954"
...,...,...,...,...,...,...,...,...
1228,Vistara,UK-655,Feb 03,Mumbai,Bangalore,11h 50m,2+-stop,"16,401"
1229,Vistara,UK-655,Feb 03,Mumbai,Bangalore,21h 10m,2+-stop,"16,401"
1230,Vistara,UK-655,Feb 03,Mumbai,Bangalore,23h 20m,2+-stop,"16,401"
1231,Vistara,UK-655,Feb 03,Mumbai,Bangalore,24h 20m,2+-stop,"16,401"
1232,Air India,AI-611,Feb 03,Mumbai,Bangalore,25h 40m,1-stop,"21,273"

### Combining the 2 DataFrames

In [58]:
FlightDF =  pd.read_csv('FlightDatascrape.csv')

In [59]:
FlightDF

,Unnamed: 0,Airline,Flight Number,Date of Departure,From,To,Duration,Total Stops,Price
0,0,Air Asia,I5-764,"Fri, Feb 11",New Delhi,Mumbai,2h 10m,Non Stop,"2,395"
1,1,Air Asia,I5-482,"Fri, Feb 11",New Delhi,Mumbai,2h 15m,Non Stop,"2,395"
2,2,SpiceJet,SG-8701,"Fri, Feb 11",New Delhi,Mumbai,2h 15m,Non Stop,"2,407"
3,3,SpiceJet,SG-8157,"Fri, Feb 11",New Delhi,Mumbai,2h 20m,Non Stop,"2,407"
4,4,Vistara,UK-927,"Fri, Feb 11",New Delhi,Mumbai,2h 05m,Non Stop,"2,410"
...,...,...,...,...,...,...,...,...,...
1165,1165,IndiGo,6E-212,"Thu, Mar 10",Bagdogra,Kolkata,1h 10m,Non Stop,"4,084"
1166,1166,IndiGo,6E-6786,"Thu, Mar 10",Bagdogra,Kolkata,1h 15m,Non Stop,"4,084"
1167,1167,Vistara,UK-766/747,"Thu, Mar 10",Bagdogra,Kolkata,16h 05m,1 Stop,"7,676"
1168,1168,Vistara,UK-766/705,"Thu, Mar 10",Bagdogra,Kolkata,17h 05m,1 Stop,"7,676"
1169,1169,Vistara,UK-726/747,"Thu, Mar 10",Bagdogra,Kolkata,18h 25m,1 Stop,"7,676"

In [60]:
FlightData = pd.concat([FlightDF,FlightDF2],ignore_index=True)

In [61]:
FlightData

,Unnamed: 0,Airline,Flight Number,Date of Departure,From,To,Duration,Total Stops,Price
0,0.0,Air Asia,I5-764,"Fri, Feb 11",New Delhi,Mumbai,2h 10m,Non Stop,"2,395"
1,1.0,Air Asia,I5-482,"Fri, Feb 11",New Delhi,Mumbai,2h 15m,Non Stop,"2,395"
2,2.0,SpiceJet,SG-8701,"Fri, Feb 11",New Delhi,Mumbai,2h 15m,Non Stop,"2,407"
3,3.0,SpiceJet,SG-8157,"Fri, Feb 11",New Delhi,Mumbai,2h 20m,Non Stop,"2,407"
4,4.0,Vistara,UK-927,"Fri, Feb 11",New Delhi,Mumbai,2h 05m,Non Stop,"2,410"
...,...,...,...,...,...,...,...,...,...
2398,NaN,Vistara,UK-655,Feb 03,Mumbai,Bangalore,11h 50m,2+-stop,"16,401"
2399,NaN,Vistara,UK-655,Feb 03,Mumbai,Bangalore,21h 10m,2+-stop,"16,401"
2400,NaN,Vistara,UK-655,Feb 03,Mumbai,Bangalore,23h 20m,2+-stop,"16,401"
2401,NaN,Vistara,UK-655,Feb 03,Mumbai,Bangalore,24h 20m,2+-stop,"16,401"
2402,NaN,Air India,AI-611,Feb 03,Mumbai,Bangalore,25h 40m,1-stop,"21,273"

In [62]:
FlightData.drop(columns=['Unnamed: 0'],inplace=True) #dropping Unnamed: 0 column

In [63]:
FlightData.to_csv('FlightDataWebscrape.csv') # Saving as .csv file

In [64]:
FlightData

,Airline,Flight Number,Date of Departure,From,To,Duration,Total Stops,Price
0,Air Asia,I5-764,"Fri, Feb 11",New Delhi,Mumbai,2h 10m,Non Stop,"2,395"
1,Air Asia,I5-482,"Fri, Feb 11",New Delhi,Mumbai,2h 15m,Non Stop,"2,395"
2,SpiceJet,SG-8701,"Fri, Feb 11",New Delhi,Mumbai,2h 15m,Non Stop,"2,407"
3,SpiceJet,SG-8157,"Fri, Feb 11",New Delhi,Mumbai,2h 20m,Non Stop,"2,407"
4,Vistara,UK-927,"Fri, Feb 11",New Delhi,Mumbai,2h 05m,Non Stop,"2,410"
...,...,...,...,...,...,...,...,...
2398,Vistara,UK-655,Feb 03,Mumbai,Bangalore,11h 50m,2+-stop,"16,401"
2399,Vistara,UK-655,Feb 03,Mumbai,Bangalore,21h 10m,2+-stop,"16,401"
2400,Vistara,UK-655,Feb 03,Mumbai,Bangalore,23h 20m,2+-stop,"16,401"
2401,Vistara,UK-655,Feb 03,Mumbai,Bangalore,24h 20m,2+-stop,"16,401"
2402,Air India,AI-611,Feb 03,Mumbai,Bangalore,25h 40m,1-stop,"21,273"